/*aplicando formatações gerais
*/
*{
	margin: 0;
	padding: 0;
}
/*aplicando formatações gerais
*/

body{
	font: 1em Roboto, Arial, sans-serif;
}

/*
**** formatando o layout do topo ****
*/

/*layout top-bar*/
#container-top{
	padding-top: 10px;
}


#date, #tag{
	float: left;
}

#social-icons, #search-bar{
	float: right;
}
/* fechameento layout barra topo*/


/* abertura do layout logo-bar */
#logo-bar, #menu{
	background: red;
	border-bottom: 1px solid white;
}

#container-logo{
	padding-top: 7px;
}
/*fechamento do layout logo-bar*/


/*formatação dos links*/
a{
	text-decoration: none;
	color: white;
	font-size: 0.9em;
}

#container-menu a:link, #container-menu a:visited{
	color: #FFF;
	padding: 10.5px 10px 14px 10px;
}

#container-menu a:hover{
	color: red;
	background: #FFF;
	padding: 10.5px 10px 14px 10px;
}
/*fechamento da formatação dos links*/

/*formatações gerais*/
#container-menu{
	width: 1201px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 20px;
}


.tamanho{
	width: 1195px;
	margin: 0 auto;
}


.clear{
	clear: both;
}

.font{
	font-size: 0.9em;
}

/*fechamento das formatações gerais*/

/*
**** fechamento do layout do topo ****
*/



#area-principal{
	width: 700px;
	margin: 20px auto 0 ;
	font-size: 17px;
}

#redator-sociais{
	width: 700px;
	margin-bottom: 20px;
}

#policia a:link, #policia a:visited{
	margin-top: 25px;
	margin-left: 576px;
	display: inline-block;
	background: red;
    color: white;
    padding: 3px 10px;
    font-size: 1em;
}

#autor{;
	font-size: 0.72em;
	color: #999;
}

#right{	
}

.tamanho-icones{
	width: 32px;
	height: 32px;
	float: right;
}

h1{
	font-size: 1.1em;
}

#tag a:link, #tag a:visited{
	background: gray;
	padding: 0px 2px;
	margin-right: 18px;
}
