/*aplicando formatações gerais
*/

*{
	margin: 0;
	padding: 0;
}

body{
	font: 1em Arial, Helvetica, sans-serif;
}

/*layout barra topo*/

#top-bar{
}


#date{
	float: left;
}

#social-icons, #search-bar{
	float: right;
}

/* fechameento layout barra topo*/

#logo-bar, #menu{
	background: red;
	border-bottom: 1px solid white;
}

#container-menu{
	
}


.tamanho{
	width: 1195px;
	margin: 0 auto;
}


.clear{
	clear: both;
}

.font{
	font-size: 0.9em;
}
