/*aplicando formatações gerais
*/

*{
	margin: 0;
	padding: 0;
}

body{
	font: 1em Arial, Helvetica, sans-serif;
}

/*layout barra topo*/
#top-bar{
	
}

#container-top{
	padding-top: 10px;
}


#date{
	float: left;
}

#social-icons, #search-bar{
	float: right;
}

#search-bar{
	
}
/* fechameento layout barra topo*/


/* abertura do menu e do logo bar */
#logo-bar, #menu{
	background: red;
	border-bottom: 1px solid white;
}

#container-logo{
	padding-top: 7px;
}

/*fechamento do menu e do logo bar*/


/*formatação dos links*/
a{
	text-decoration: none;
	color: white;
	font-size: 0.9em;
}

#container-menu a:link, #container-menu a:visited{
	color: #FFF;
	padding: 10.5px 10px 14px 10px;
}

#container-menu a:hover{
	color: red;
	background: #FFF;
	padding: 10.5px 10px 14px 10px;
}

#container-menu{
	width: 1201px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 20px;
}


.tamanho{
	width: 1195px;
	margin: 0 auto;
}


.clear{
	clear: both;
}

.font{
	font-size: 0.9em;
}
